<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h2>Ramees Karolil Rasheed - N01632407</h2>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>n01632407@humber.ca</p>
    </footer>
  </body>
</html>