<h1>{{title}}</h1>
<p>Welcome to Assignment 2. Please use the following buttons to navigate:</p>

<a href="/data" class="button">View Movie Data</a>
<a href="/data/search/id" class="button">Search by Movie ID</a>
<a href="/data/search/title" class="button">Search by Movie Title</a>
<a href="/viewData" class="button">View Sales Data</a>