<h1>{{title}}</h1>
<form action="/data/search/title/result" method="get">
  <input
    type="text"
    name="movie_title"
    placeholder="Enter Movie Title"
    required
  />
  <button type="submit">Search</button>
</form>